* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background: #efefef;
}
.dz-preview {
  display: inline-block;
}
.dz-preview .dz-details .dz-filename {
  display: none;
}
.dz-preview .dz-details .dz-size {
  display: none;
}
.dz-preview .dz-details img {
  width: 150px;
  margin: 20px;
}
.dz-preview .dz-progress span.dz-upload {
  display: none;
}
.dz-preview .dz-success-mark {
  display: none;
}
.dz-preview .dz-error-mark {
  display: none;
}
.dz-preview .dz-error-message {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #efefef;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
          box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-trackhover {
  background: #dedede;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
          box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 1px;
}
::-webkit-scrollbar-thumbhover {
  background: #aaa;
}
::-webkit-scrollbar-thumbactive {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
          box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.file {
  width: 80%;
  height: 80%;
  margin: 10%;
  background: #fff;
  text-align: center;
}
