* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #efefef;
}
.ds-default.dz-message {
  font-size: 25px;
}
.dz-preview {
  display: inline-block;
}
.dz-preview .dz-details .dz-filename {
  display: none;
}
.dz-preview .dz-details .dz-size {
  display: none;
}
.dz-preview .dz-details img {
  width: 150px;
  margin: 20px;
}
.dz-preview .dz-progress,
.dz-preview .dz-success-mark,
.dz-preview .dz-error-mark,
.dz-preview .dz-error-message {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #efefef;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
          box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-trackhover {
  background: #dedede;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
          box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 1px;
}
::-webkit-scrollbar-thumbhover {
  background: #aaa;
}
::-webkit-scrollbar-thumbactive {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
          box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
.button {
  padding: 10px;
  background: #dedede;
  border: none;
  -webkit-box-shadow: 0 0 1px #555;
          box-shadow: 0 0 1px #555;
  border-radius: 5px;
}
.button.red {
  background: #e74c3c;
  color: #fff;
}
.file {
  position: relative;
  width: 80%;
  height: 70%;
  margin: 10% 10% 0 10%;
  background: #fff;
  overflow: scroll;
  overflow-x: hidden;
}
.file .message {
  max-height: 80%;
}
.file .message p {
  font-size: 25px;
  margin: 20px;
}
.file .message .svg-add .line {
  stroke: #efefef;
}
.shadow {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(1,1,1,0.7);
}
.shadow .button {
  display: inline-block;
  margin: 10px;
}
.shadow .button.go {
  display: none;
}
.images {
  height: 100%;
  width: 100%;
  text-align: center;
}
.images img {
  display: inline-block;
  height: 80%;
  margin-top: 5%;
}
.pre-img,
.pre-img img {
  width: 1px;
  height: 1px;
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
