.dz-preview
  display inline-block
  .dz-details
    .dz-filename
      display none
    .dz-size
      display none
    img
      width 150px
      margin 20px

  .dz-progress
    span.dz-upload
      display none
  .dz-success-mark
    display none
  .dz-error-mark
    display none
  .dz-error-message
    display none
