.ds-default.dz-message
  font-size 25px
.dz-preview
  display inline-block
  .dz-details
    position relative
    padding 0
    .dz-remove
      position absolute
      top 10px
      right 10px
    img
      width 150px
      margin 20px
