.ds-default.dz-message
  font-size 25px
.dz-preview
  display inline-block
  .dz-details
    .dz-filename
      display none
    .dz-size
      display none
    img
      width 150px
      margin 20px

  .dz-progress,
  .dz-success-mark,
  .dz-error-mark,
  .dz-error-message
    display none
