@import "./includes/reset"

body, html
  width 100%
  height 100%
  overflow hidden
body
  background #efefef

@import "./includes/colors"
@import "./includes/dropzone"
@import "./includes/scrollbar"
@import "./includes/buttons"
@import "./includes/file"
@import "./includes/images"
@import "./includes/controls"

.content
  display flex

