@import "./includes/reset"

body, html
  width 100%
  height 100%
body
  background #efefef




@import "./includes/dropzone"
@import "./includes/scrollbar"
  .content
    display flex


.file
  width 80%
  height 80%
  margin 10%
  background #fff
  text-align center
