doctype html
html
  head
    title Node Webkit Boiler
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(src="js/jquery.js")
    script(src="js/dropzone.js")
    script(src="js/main.js")
    script(src="js/backgrounds.js")
  body
    .file
    button.go.button Go

