.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  height: 40px;
  width: 40px;
  display: none;
}
.controls svg {
  fill: rgba(25,25,25,0.5);
  stroke: rgba(255,255,255,0.5);
}
