.ds-default.dz-message {
  font-size: 25px;
}
.dz-preview {
  display: inline-block;
}
.dz-preview .dz-details {
  position: relative;
  padding: 0;
}
.dz-preview .dz-details .dz-remove {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
  background: #f00;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}
.dz-preview .dz-details .dz-remove:hover {
  opacity: 0.9;
}
.dz-preview .dz-details img {
  width: 150px;
  margin: 20px;
}
