.ds-default.dz-message {
  font-size: 25px;
}
.dz-preview {
  display: inline-block;
}
.dz-preview .dz-details {
  position: relative;
  padding: 0;
}
.dz-preview .dz-details .dz-remove {
  position: absolute;
  top: 10px;
  right: 10px;
}
.dz-preview .dz-details img {
  width: 150px;
  margin: 20px;
}
